<div class="emr-header">
    <div class="row">
        <div class="col-4 align-self-center">
            <div class="emr-text-title">
                {{option?.title}}
            </div>
        </div>
        <div class="col-5 search-header">
            <app-search
                *ngIf="option?.search"
                (callback)="onChangeValueInputSearch($event)"
            ></app-search>
        </div>
        <div class="col-3 header-info">
            <div class="header-info-item d-flex alig-items-center justify-content-end">
                <app-user-profile class="profile" (callBack)="logout()"></app-user-profile>
            </div>
        </div>
    </div>
</div>
