.container {
  .row {
    margin-top: 1.5em;
    label {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
}
.payment {
  width: 100%;
  margin-left: 5px;
}
.context2 {
  span {
    float: right;
    font-weight: bold;
  }
}
