.mat-tab-group {
    width: 95%;
    height: calc(100vh - 210px);
    margin-left: 20px;
    border: none;
    border-radius: 18px;
    box-shadow: inset 5px 5px 10px #cccccc, inset -5px -5px 10px #ffffff;
}
